include ../../../mixins/_mixins

section.pricing-header
  .container
    +pageHeader(
      'Our Pricing',
      'We offer flexible pricing options to accommodate your unique requirements and budget. Our pricing plans are designed to provide you with the best value for your investment in your health and well-being.'
    )
