include ../../../mixins/_mixins

section.contact-header
  .container
    +pageHeader(
      'Contact Us',
      'We value your feedback, questions, and concerns at Nutritionist. Our dedicated team is here to assist you and provide the support you need on your nutritional journey. Please don\'t hesitate to reach out to us using any of the following contact methods.'
    )
