include ../../../mixins/_mixins

section.blog
  .container
    +sectionHeader('Our Blogs', 'Our blog is a treasure trove of informative and engaging articles written by our team of nutritionists, dietitians, and wellness experts.')
    
    .blog__grid
      +blogCard('/images/blog-1.png', 'Weight Loss', 'The Benefits of Hydration for Weight Loss', 'Discover how staying hydrated can support your weight loss goals and improve overall health.', 'Emily Johnson', '/images/author1.png', 'Dec 5, 2023', '5', '3')
      
      +blogCard('/images/blog-2.png', 'Mindful Eating', 'Cultivating a Healthy Relationship with Food', 'Explore strategies for developing a positive and balanced approach to eating and nutrition.', 'Sarah Thompson', '/images/author2.png', 'Dec 8, 2023', '8', '5')
      
      +blogCard('/images/blog-3.png', 'Understanding Macronutrients', 'Understanding Macronutrients in Your Diet', 'Learn about the role of proteins, carbohydrates, and fats in maintaining a healthy diet.', 'Mark Wilson', '/images/author3.png', 'Dec 10, 2023', '12', '7')
      
      +blogCard('/images/blog-4.png', 'Healthy Snacks on the Go', 'Snack Smart: Healthy Snacking Options', 'Discover nutritious and delicious snack ideas that will keep you energized throughout the day.', 'Emily Johnson', '/images/author4.png', 'Dec 12, 2023', '6', '4')
