include ../../../mixins/_mixins

section.features
  .container
    +sectionHeader('Features', 'Welcome to the Feature Section of Nutritionist, your ultimate destination for all things nutrition and wellness.')
    
    .features__grid
      +featureCard('flower', 'Personalized Nutrition Plans', 'Receive a customized nutrition plan designed specifically for your body and goals. Our certified nutritionists will consider your unique needs, dietary preferences, and health conditions to create a plan that works best for you.')
      
      +featureCard('hat', 'Guidance from Certified Nutritionists', 'Our team of experienced and certified nutritionists will provide you with professional guidance and support throughout your journey. They will answer your questions, address your concerns, and keep you motivated as you work towards your goals.')
      
      +featureCard('food', 'Food Logging and Tracking', 'Easily track your daily food intake using our user-friendly app. Our nutritionists will review your logs and provide feedback and recommendations to help you stay on track and make healthier choices.')
      
      +featureCard('plan', 'Meal Planning and Recipes', 'Access a vast collection of delicious and healthy recipes tailored to your dietary needs. Our nutritionists will also help you plan your meals for the week, making healthy eating convenient and enjoyable.')
      
      +featureCard('dumbel', 'Lifestyle and Behavior Coaching', 'Achieving lasting results requires more than just a diet plan. Our nutritionists will work with you to develop healthy habits, address emotional eating, and provide strategies for long-term success.')
      
      +featureCard('backpack', 'Nutritional Education and Workshops', 'Expand your knowledge of nutrition through our educational resources and workshops. Learn about the science behind food and nutrition, and gain the skills to make informed choices for a healthier lifestyle.')
