include ../../../mixins/_mixins

section.cta-container
  .container
    +cta(
      'We Are Proud of Our Achievements',
      'But our ultimate satisfaction comes from seeing our clients achieve their goals and live healthier, happier lives. Join Nutritionist today and embark on your own transformative journey towards optimal health and well-being.',
      'Book a Demo',
      '#'
    )
