include ../../../mixins/_mixins

section.team-hero
  .container
    +pageHeader(
      'Meet Our Team of Experts',
      'Our team at Nutritionist is composed of highly skilled professionals who are passionate about helping you achieve your health and wellness goals. With a diverse range of expertise in nutrition, coaching, and support, we are dedicated to providing you with the guidance and personalized care you need. Get to know the experts behind our success and discover how they can make a positive impact on your journey to better health.',
      ['Management Team', 'Nutritionists and Dietitians', 'Customer Support', 'Marketing and Communications', 'Technology and Development']
    )
