include ../../../mixins/_mixins

section.team-join
  .container
    +cta(
      'Join Our Team',
      'We are always on the lookout for talented individuals who are enthusiastic about making a difference. Explore our career opportunities and join our mission to help people achieve their health and wellness goals.',
      'Apply Now',
      '#'
    )
